{% extends "layout_logged_in.html" %}
{% block pagetitle %}Requests{% endblock %}

{% block pagecontent %}
<div class="section-card">
  <h2 class="section-title">Money requests</h2>
  <p class="section-subtitle">These users have requested money from you.</p>

  <table class="table">
    <thead>
      <tr>
        <th>From</th>
        <th>Amount</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
  {% for r in requests %}
  <tr>
    <td>{{ r.from_upi }}</td>
    <td>₹ {{ "%.2f"|format(r.amount) }}</td>

    <td>
      <a
        href="{{ url_for('send',
                         to=r.from_upi,
                         name=r.from_upi,
                         amount=r.amount,
                         ) }}"
        class="pill-btn primary-btn"
      >
        Pay
      </a>
    </td>
  </tr>
  {% else %}
  <tr>
    <td colspan="4">No pending requests.</td>
  </tr>
  {% endfor %}
</tbody>

  </table>
</div>
{% endblock %}
